*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
.Xil/
/vivado/I2S2_PMOD_Demo.gen/*
!/vivado/I2S2_PMOD_Demo.gen/sources_1/
/vivado/I2S2_PMOD_Demo.gen/sources_1/*
!/vivado/I2S2_PMOD_Demo.gen/sources_1/bd/
/vivado/I2S2_PMOD_Demo.gen/sources_1/bd/*
!/vivado/I2S2_PMOD_Demo.gen/sources_1/bd/design_1/
/vivado/I2S2_PMOD_Demo.gen/sources_1/bd/design_1/*
!/vivado/I2S2_PMOD_Demo.gen/sources_1/bd/design_1/hdl/
*.jou
*.log
*.str
*.backup.*
dfx_runtime.txt
webtalk*
usage_statistics_webtalk.*
vivado_pid*.zip
*.bit
*.bin
*.dmp
*.dcp
*.xsa
*.vvp
.vscode/
*.swp
Thumbs.db
desktop.ini
