*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
.Xil/
/I2S2_PMOD_Bringup.gen/*
!/I2S2_PMOD_Bringup.gen/sources_1/
/I2S2_PMOD_Bringup.gen/sources_1/*
!/I2S2_PMOD_Bringup.gen/sources_1/bd/
/I2S2_PMOD_Bringup.gen/sources_1/bd/*
!/I2S2_PMOD_Bringup.gen/sources_1/bd/design_1/
/I2S2_PMOD_Bringup.gen/sources_1/bd/design_1/*
!/I2S2_PMOD_Bringup.gen/sources_1/bd/design_1/hdl/
*.jou
*.log
*.str
*.backup.*
dfx_runtime.txt
webtalk*
usage_statistics_webtalk.*
vivado_pid*.zip
*.bit
*.bin
*.dcp
*.xsa
*.vvp
*.vcd
*.fst
*.lxt
*.lxt2
.vscode/
*.swp
Thumbs.db
desktop.ini
